<h1>Questions</h1>

<h1><%= @question.title %></h1>

<% if @question.resolved? %>
  <p>Resolved!</p>
<% end %>

<%= link_to "Edit", edit_question_path(@question), class: 'btn btn-success' %>
<%= link_to 'Delete', question_path(@question), :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-success'%>
<br>
<p><%= @question.body %></p>
